@{
    ViewData["Title"] = "Store";
}

@model List<Product>
<div class="text-center">
    <h1>Store</h1>
    <table>
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Product Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.ProductName</td>
                    <td>@product.Cost.ToString("C")</td> <!-- Format as currency -->
                </tr>
            }
        </tbody>
    </table>
</div>
