@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome</h1>
    <ul>
        <li><a href="/Store">Store</a></li>
        <li><a href="/Orders">My Orders</a></li>
    </ul>
</div>
